/* Bootstrap */
.form-check-input {
    cursor: pointer;
}
.toast-container {
    margin: var(--bs-gutter-x, .75rem);
}

/* DataTable */
.dataTable {
    width: 100%!important;
}
.dataTable thead tr th {
    text-align: center;
    vertical-align: middle;
}
.dataTable thead tr th.sorting_disabled:before, .table thead tr th.sorting_disabled:after {
    content: none!important;
}
.btn-datatable {
    background-color: var(--bs-white)!important;
    color: var(--bs-secondary)!important;
    border: 1px solid var(--bs-secondary)!important;
    cursor: pointer;
    box-sizing: border-box;
    font-size: .75rem!important;
    border-radius: 0!important;
    margin: 0!important;
    padding: 0.2rem 0.5rem!important;
}
.btn-datatable:first-child {
    border-top-left-radius: 0.1rem!important;
    border-bottom-left-radius: 0.1rem!important;
    border-right-width: 0!important;
}
.btn-datatable:last-child {
    border-top-right-radius: 0.1rem!important;
    border-bottom-right-radius: 0.1rem!important;
    border-left-width: 0!important;
}
.btn-datatable:hover, .btn-datatable:active, .btn-datatable:focus {
    color: var(--bs-white)!important;
    border-color: var(--bs-secondary)!important;
    background-color: var(--bs-secondary)!important;
}
@media(min-width: 768px) {
    .dataTables_wrapper .top, .dataTables_wrapper .bottom {
        display: flex;
        justify-content: space-between;
    }
    .dataTables_wrapper .top > div, .dataTables_wrapper .bottom > div {
        margin-top: 0!important;
    }
}
.dataTables_wrapper .top {
    margin-bottom: .5rem;
}
.dataTables_wrapper .top > div, .dataTables_wrapper .bottom > div {
    margin-top: .5rem;
}
.dataTables_wrapper .top > div:first-child, .dataTables_wrapper .bottom > div:first-child {
    margin-top: 0;
}
.dataTables_wrapper .bottom {
    margin-top: .5rem;
}
.dataTables_wrapper .dt-buttons {
    display: inline-flex;
    position: relative;
    vertical-align: middle;
    justify-content: center;
}

/* Select2 */
div[class^="col"] > .select2 {
    width: 100%!important;
}
.select2-container {
    font-size: .75rem;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #ced4da!important;
    border-radius: .1rem!important;
}

/* Quill Editor */
.ql-snow p {
    margin-bottom: 0;
}
.ql-snow img {
    max-width: 100%;
}

/* JQuery UI */
.ui-state-highlight {
    height: 2rem;
    background-color: #f3eeb5;
}
.ui-sortable-handle {
    cursor: move;
}
.ui-state-disabled {
    cursor: no-drop;
}

/* AdminKit */
.nav-item-user .dropdown-toggle:after {
    display: none;
}
.nav-item-user .avatar-letter {
    height: 40px;
    width: 40px;
    line-height: 40px;
}
.nav-item-user .avatar-letter h2 {
    line-height: 40px;
}
.btn-avatar {
    height: 150px;
    width: 150px;
    line-height: 150px;
    cursor: pointer;
}
.avatar-overlay {
    height: 150px;
    width: 150px;
    position: absolute;
    border-radius: 100%;
    background: rgba(42,127,167,0.7);
    opacity: 0;
    transition: .5s;
}
.avatar-overlay:hover {
    opacity: 1;
}
.avatar-overlay i {
    color: #fff;
    font-size: 3.5rem;
}
#modal-image .modal-body {
    height: 80vh;
    overflow-y: auto;
}
#modal-image .dropzone {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border: 2px dashed #bebebe;
}
#modal-image .dropzone:hover {
    background-color: #e5e5e5;
    transition: .3s ease-in;
}
#modal-image .dropzone-description {
    text-align: center;
    font-weight: bold;
}
#modal-image .dropzone-icon {
    font-size: 2rem;
}
#modal-image .dropzone-input, #modal-image .dropzone-input:focus {
    position: absolute;
    width: 100%;
    height: 150px;
    outline: none!important;
    cursor: pointer;
    opacity: 0;
}
.settings-toggle {
    height: 40px;
    width: 40px;
    top: 50%;
    bottom: 0;
    right: 0;
    transform: translateY(50%);
    padding: 0;
    text-align: center;
    border-radius: 0;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}
.settings-toggle .settings-gear {
    height: 40px;
    width: 40px;
    line-height: 40px;
}
.rotate-animation {
    -webkit-animation: rotate-gear 2s linear 0s infinite normal;
    -moz-animation: rotate-gear 2s linear 0s infinite normal;
    -o-animation: rotate-gear 2s linear 0s infinite normal;
    -ms-animation: rotate-gear 2s linear 0s infinite normal;
    animation: rotate-gear 2s linear 0s infinite normal;
}
@keyframes rotate-gear {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}