/* Bootstrap */
.form-check-input {
    cursor: pointer;
}
.toast-container {
    margin: var(--bs-gutter-x, .75rem);
}

/* DataTable */
.dataTable {
    width: 100%!important;
}
.dataTable thead tr th {
    text-align: center;
    vertical-align: middle;
}

/* Select2 */
.select2-container {
    font-size: .75rem;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ced4da!important;
    border-radius: .1rem!important;
}

/* Quill Editor */
.ql-snow p {
    margin-bottom: 0;
}
.ql-snow img {
    max-width: 100%;
}

/* JQuery UI */
.ui-state-highlight {
    height: 2rem;
    margin-bottom: 1rem;
}
.ui-sortable .ui-sortable-handle {
    cursor: move;
}
